/* league-spartan-500 - latin */
@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/league-spartan-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-700 - latin */
@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/league-spartan-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --spartan: "League Spartan";
  --bg-color-header: #5ca5a5;
  --secondary: #f2f2f2;
  --bg-color: #effafa;
  --bg-card: #ffffff;
  --black: #2b3939;
  --bg-card-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--spartan), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1366px;
  padding-left: 128px;
  padding-right: 128px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.header {
  position: sticky;
  width: 100%;
  height: 156px;
  background-color: var(--bg-color-header);
  background: url("/img/header-bg.svg"), var(--bg-color-header);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HEADER */
/* MAIN-CONTENT */
.main-content {
  padding-top: 76px;
  padding-bottom: 120px;
}
.container {
}
.card-group {
  width: 100%;
  max-width: 1110px;
  list-style: none;
}
/* card main section */
.card {
  width: 100%;
  height: 152px;
  margin-bottom: 24px;
  padding: 32px 40px;
  background-color: var(--bg-card);
  box-shadow: var(--bg-card-shadow);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.4s ease-in;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.card-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
}
.card-text-header {
  height: 24px;
}
.card-img {
  margin-right: 24px;
}
.card-left .card-text-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  align-items: center;
}
.card-heading-subtitle {
  font-family: var(--spartan);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--bg-color-header);
  text-transform: capitalize;
  margin-right: 16px;
}
.danger {
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
  display: inline-block;
  font-family: var(--spartan);
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--bg-card);
}
.danger-green {
  margin-right: 8px;
  background-color: var(--bg-color-header);
}

.danger-black {
  background-color: var(--black);
}

.carding-name {
  height: 24px;
  font-family: var(--spartan);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  margin: 8px 0px;
}

.card-foot {
  max-width: 680px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.rounded {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #b7c4c4;
}

.card-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 750px;
  height: 32px;
}

.btn {
  padding: 4px 8px;
  color: var(--bg-color-header);
  border: none;
  border-radius: 4px;
  transition: background-color 0.8 ease;
}
.btn:hover {
  background-color: var(--bg-color-header);
  color: var(--secondary);
}
.btn:not(:last-child) {
  margin-right: 0px;
}

.light-text {
  text-transform: capitalize;
  color: #7c8f8f;
}

@media screen and (max-width: 325px) {
  body {
    background-color: #5ca5a5;
  }
  
}
